/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*section  main & body*/

body {
  background-image: url("/images/site/small_check.jpg");
  margin: 0;
  background-repeat: repeat;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #242333;
}
main {
  width: 100%;
}

/*section wrapper and header */
#wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #015D6F;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.siteName {
  font-size: 2.5rem;
  font-weight: 800;
  padding: 0.5rem;
  font-family: "Roboto Slab", serif;
}

.siteName a {
  text-decoration: none;
  color: #242333;
}

#tools {
  font-variant: small-caps;
  display: flex;
 

  justify-content: space-evenly;
}
#tools a {
  text-decoration: none;
  color: inherit;
}

/*subsection nav part*/

nav {
  background-color: #242333;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  gap: 20px;
}

nav li {
  list-style: none;
  padding: 1em;
}

/*hero part */

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
  font-size: larger;
  gap: 12px;
}

.hero > img {
  width: 50%;
  max-width: 520px;
  height: auto;
  order: 2;
  margin-inline: auto;
}
.button-hero {
  background: #015D6F;
  padding: 10px 20px;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;

  color: #fff;
}

.hero-info {
  order: 1;
  color: #015D6F;
  font-weight: 600;
   
}

.hero-info h2 {
  margin: 0 0 0.5rem 0;
  margin-left: 3%;
}

.hero-info ul {
  margin: 0.5rem 0 1rem 1.2rem;
  list-style: none;
  padding: 0;
}

.hero-info ul li {
  margin-bottom: 8px;
}

/*container part */

.container {
  display: flex;
  
  flex-direction: column;  
  gap: 30px;
  padding: 10px;
}

@media (min-width: 1024px){
  
  .container{
    flex-direction: row;
    gap: 30px
  }
}

.reviews {

order: 2;
flex:1;
}


.container > section {
  flex: 1;
}


.item {
  background: #015D6F;
  padding: 0;
  text-align: center;
  border: 2px solid black;
}

.item img {
  width: 100px;
  display: block;
  margin: 0 auto 10px;
}

.item a {
  font-size: 18px;
  display: block;
  color: #fff;
  text-decoration: underline;
}


.reviews ul {
  padding: 0;
  margin: 3rem 0 1rem 1.2rem;
  font-family: "Roboto Slab", serif;
  font-size: large;
}

.reviews li {
  margin-top: 10px;
}


.upgrade-items{
  display:grid;
  grid-template-columns:repeat(2, 1fr);    
  gap:12px;
  margin-top: 3rem;
}


 .upgrades {
  flex:1 ;
 }


 
@media (max-width: 1023px) {
 
  .upgrades { 
    order: 2;
   }
}


 


