/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*section  main body*/
:root {
    --primary-background: #fff;
    --main-accent: #01b0d3;
    
    --primary-text: #242333;
    --heading-font: Literata;

}

body{
  background-image:  url('/images/site/small_check.jpg');
   
  margin: 0;
 
  
  background-repeat: repeat;
   --body-font: Inter;
      
   
}
main {
  width: 100%;
}





 /*section 2*/
#wrapper {
   width:1000px;
    margin:40px auto;
    background:var(--primary-background);
    padding:20px;
    border-radius:10px;
    border: 5px solid var(--main-accent);

}




#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
   
}

.siteName {
  font-size: 2.5rem;
  font-weight: 800;
  border:2px solid var(--primary-text);
  padding:.5rem;


}
    #tools {
        font-size: inherit;
        font-variant: small-caps;
         display: flex;
         width: 16%;
   
    justify-content: space-evenly;
    }



/*nav part*/


nav {           
  background-color:var(--primary-text);
  color:var(--primary-background);
 
}

nav ul {
  display: flex;
   padding:0;
   margin:0;
    justify-content: space-evenly;
}

nav li {
  list-style: none;
  padding: 1em ;
   
}

/*hero part */

.hero {
               
    display: flex;
    align-items: center;
    gap: 30px;
   
     
    }

.hero > img {
  
 
width: 50%;
  max-width: 520px;
 


}                
.hero-info button{
  background: var(--main-accent);
  border:none;
  padding:10px 20px;
  font-weight:bold;
  border-radius:5px;
  cursor:pointer;
}

.hero-info {
  flex: 1;
}



.hero-info h2 {
  font-family: var(--heading-font);
  margin: 0 0 .5rem 0;
}


.hero-info ul {
  margin: .5rem 0 1rem 1.2rem; /* nice spacing for bullets */
}




.container {
 display: grid;
  grid-template-columns: 1fr  1fr;
  gap: 30px;
 
  padding: 10px;
}


.item {
  background: #00a6c7;
  padding: .1em;
  text-align: center;
  border: 2px solid black;
}


.item img {
  width: 100px;
  display: block;
  margin: 0 auto 10px;
}


.item a {
  font-size: 18px;
  display: block;
}
